body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background: url('servicios/ser-2.jpg') center center fixed; 
    background-size: cover;
    color: #FFFFFF;
}

.titulo {
    color: #FFFFFF;
}

table.marron-claro {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
    background-color: #cca572;
    color: #402e1c;
    opacity: 80%;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f28c;
}

.centrar {
    text-align: center;
}

.footer{
    background-color: #c2915b;
    padding: 1% 0;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}

.btn-2 {
    padding: 15px 25px;
    border: 1px solid #ffab2e;
    border-radius: 25px;
    font-size: 15px;
    margin: 50px;
}
